<%=link_to "reload", root_path(), id: "reload", remote: true %>
<div class="container">
    <div class="row">
        <div class="col-lg-4 border rounded border-dark mt-3 mb-3">
            <div id="mailing">
            <% @emailspage.each do |mail| %>
                    <div class="row border-bottom border-dark">
                        <div class="mailobj<%= mail.id %>">
                            <div class="row ml-1">
                                <div class="col-10">
                                    <%= mail.object %>
                                </div>
                                <div class="col-1">
                                    <%= link_to "Read", display_path(mail_id: mail.id), remote: true%>
                                </div>
                                <div class="col-1">   
                                    <%= link_to "Unread", unread_path(mail_id: mail.id), remote: true%>   
                                </div>
                            <div class="row ml-1">
                                    <%= mail.created_at %>                            
                            </div>
                            </div>
                        </div>
                    </div>
            <% end %>
                </div>
        </div>
        <div class="col-lg-6 offset-1 border rounded border-dark mt-3 mb-3">
            <div id="mail-content">

            </div>
        </div>
    </div>
</div>